.cart-main {
  background: rgb(247, 247, 247);
  padding-left: 150px;
  min-height: 100vh;
  .main-item {
    width: 600px;
    height: 150px;
    border-bottom: 1px solid;
    img {
      width: 100px;
    }
    .details {
      p {
        font-size: 1.4rem;
      }
    }
    button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.empty-cart {
  width: 100%;
  height: 100vh;
  background: rgb(247, 247, 247);
  h1 {
    font-size: 10rem;
  }
}
