.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
      circle closest-corner at center,
      #222,
      rgba(255, 166, 0, 0.466) 200%
    )
    no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
}
.banner {
  width: 100%;
  height: 100vh;
  img {
    width: 500px;
    margin-top: 20vh;
    margin-right: 5vw;
  }
  .content {
    margin-left: 5vw;
    margin-top: 10vh;
    gap: 20px;
    position: relative;
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
      color: rgba($color: #eee, $alpha: 0.7);
    }
    h2 {
      max-width: 600px;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: rgba($color: #eee, $alpha: 0.5);
    }
    button {
      width: 200px;
      height: 50px;
      border: none;
      background: rgba($color: #eee, $alpha: 0.1);
      color: white;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 1px;
      cursor: pointer;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  .wave {
    width: 100%;
    height: 320px;
    position: absolute;
    bottom: 0;
  }
}
.bg::after {
  content: "Welcome";
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  z-index: -1;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba($color: orange, $alpha: 0.1);
}

.new-arrivals {
  width: 100%;
  height: 100vh;
  background: white;
  .big-product {
    width: 400px;
    border: 1px solid rgba($color: orange, $alpha: 0.3);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 200px;
  }
  .big-product::after {
    content: "Women Fashion";
    width: 100%;
    height: 100%;
    background: rgba($color: black, $alpha: 0.7);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    transform: translateX(-400px);
    transition: 0.3s;
  }
  .big-product:hover::after {
    transform: translateX(0);
  }
  .small-products {
    margin-right: 100px;
    width: 50%;
    flex-wrap: wrap;
    gap: 50px;
    .small-product {
      width: 220px;
      height: 220px;
      border: 1px solid rgba(255, 166, 0, 0.3);
      cursor: pointer;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .small-product::after {
      content: attr(data-content);
      width: 100%;
      height: 100%;
      background: rgba($color: black, $alpha: 0.7);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      text-transform: uppercase;
      color: white;
      transform: translateX(-400px);
      transition: 0.3s;
    }
    .small-product:hover::after {
      transform: translateX(0);
    }
  }
}
